.mobile-menu {
    display: block;
    background-color: #3c3a39;
    width: 100%;
    height: 755px;
    padding: 24px;
}

.close {
    margin-left: 80%;
}

.m-menu-text {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    margin-left: 12px;
}

.m-menu-hr {
    margin-top: 12px;
    margin-bottom: 24px;
    margin-right: 15%;
}