* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 24px 0 0;
}

.blackpage {
  background-color: #1c1a19;
}

nav {
  width: 100%;
  background-color: #3c3a39;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 24px 24px;
  z-index: 2;
}

.logo {
  height: 24px;
  width: 24px;
}

.menu {
  height: 24px;
  width: 24px;
}

.page1-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  padding: 24px 0 24px 24px;
}

.my-name {
  color: #ff6b00;
  font-size: 56px;
  font-family: 'Crete Round', serif;
  margin: 140px 0 12px 0;
  text-align: left;
  letter-spacing: 0.37px;
  width: 100%;
  height: 124px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.my-position {
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-size: 24px;
  text-align: left;
  color: #fff5e1;
  display: flex;
  align-items: flex-end;
  margin: 10px 0 10px 0;
}

.discription-me {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 10px 30px 10px 0;
  display: flex;
}

.social-media {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.icons {
  width: 18px;
  height: 20px;
  margin: 10px;
}

.img-list {
  display: inline;
}

.icon-list {
  list-style-type: none;
}

.b-img-1 {
  display: flex;
  width: 150px;
  height: 312.03px;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.icons:hover {
  border: 1px solid #ff6b00;
}

.my-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  padding: 120px 24 24px 24px;
}

.projects{
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 40px;
  display: flex;
  align-self: center;
  margin-top: 120px;
}

.line{
  margin-top: 30px;
  display: flex;
  align-self: center;
}

.project-img {
  display: flex;
  align-self: center;
  margin-top: 18px;
}

.heading2 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  display: flex;
  align-self: flex-start;
  margin-top: 24px;
  margin-left: 24px;
}

.project-discription {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  display: flex;
  align-self: flex-start;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px
}

.web-icons {
  list-style-type: none;
  display: flex;
  justify-items: space-between;
  flex-direction: row;
  padding: 12px;
}

.icon-web {
  margin: 12px;
}

.button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  margin: 24px;
  border: 0px;
}

.button1-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-self: center;
  text-align: center;
  color: #FFFFFF;
  margin-left: 24px;
}

.page2 {
  height: 386px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 10px;
  background-image: url(css/image/projects_imges/Placeholder1.png);
  background-color: #cccccc;
  padding: 24px 0 24px 0px;
} 

.text-color {
  color: #fff;
  display: grid;
  grid-row: 2;
}

.h2-margin {
  margin-top:70px;
}

.web-icon-page2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: fit-content;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  border: 0px;
  margin-top: -5px;
  color: #fff;
  font-family: 'Inter';
}

.button2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  width: 327px;
  height: 48px;
  background: #ff6b00;
  margin: 0px;
  border: 0px;
}